<div class="footer" style="background: linear-gradient(#43C6AC,#F8FFAE)">   
 <a href="https://facebook.com"><img class="facebook" src="/images/fb.png"></a>
 <a href="https://youtube.com"><img class="youtube" src="/images/youtube.png"></a>
 <a href="https://twitter.com"><img class="twitter" src="/images/twitter.png"></a>
 <a href="https://in.linkedin.com"><img class="linkedin" src="/images/linkedin.png"></a>
 <a href="https://instagram.com"><img class="instagram" src="/images/instagram.png"></a>
 <p>© 2019 GoTransport</p>
</div>
<style>
 .footer{
  bottom : 0;
  position : relative;
 }
</style>
 <!-- CHATBOT -->
 <script src="https://static.landbot.io/landbot-widget/landbot-widget-1.0.0.js"></script>
 <script>
   var myLandbot = new LandbotLivechat({
     index: 'https://landbot.io/u/H-237423-JDZ9NF3IRHYPWXAN/index.html',
   });
 </script>
 <!-- CHATBOT END -->

     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <script src="https://tympanus.net/Development/Slicebox/js/jquery.slicebox.js"></script>
 </body>
 </html>