<% include ./partials/header %>
<style>
body{
    background: linear-gradient(#833ab4,#fd1d1d,#fcb045);
}
</style>

<link rel="stylesheet" type="text/css" href="../css/awareness.css">
<div class="container-fluid">
    <h1 style="color: #03A1F6; background: linear-gradient(#556270,#FF6B6B)" class="animated bounce" >Vouch for a Brighter Future <hr><hr></h1>

<div class="container-fluid">
        <div class="row">

   <div class="col-sm-12 col-md-6 col-lg-4 order-1 order-sm-2">
        <img style="border-radius: 30px;" src="https://images.unsplash.com/photo-1472017454701-20a80cfeaac5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="..." class="img-fluid">
   </div>   
                
   <div class="card text-center col-sm-12 col-md-6 col-lg-8 order-2 order-md-2">
        <div class="card-header display-4"  style="background: linear-gradient(#FF4E50,#F9D423);">
            Environmental
        </div>
        <div class="card-body bg-warning">
          
          <p class="card-text text-center" style="font-size: 1rem;">Although there is continuing debate as to the true efficiency of different modes of transportation, mass transit is generally regarded as significantly more energy efficient than other forms of travel. A 2002 study by the Brookings Institution and the American Enterprise Institute found that public transportation in the U.S uses approximately half the fuel required by cars, SUV's and light trucks. In addition, the study noted that "private vehicles emit about 95 percent more carbon monoxide, 92 percent more volatile organic compounds and about twice as much carbon dioxide and nitrogen oxide than public vehicles for every passenger mile traveled".

              A 2004 study from Lancaster University concluded that there was no environmental benefit to be gained from persuading car or plane travelers to switch to trains. Environmental group Friends of the Earth were skeptical of the findings, claiming the results are not in line with previous studies.The study showed that trains had failed to keep up with the advances that the automotive and aviation industries had made in improved fuel efficiency. Express trains travelling from London to Edinburgh consumed 11.5 litres more fuel per seat than a modern diesel car.
 </p>
         
        </div>
        <div class="card-footer text-muted bg-primary">
         
        </div>
      </div>
        

</div>
</div>
<div class="container-fluid">
    <div class="row">


            
<div class="card text-center col-sm-12 col-md-6 col-lg-8 order-2 order-md-1">
    <div class="card-header display-4"  style="background: linear-gradient(#FF4E50,#F9D423);">
        Land use
    </div>
    <div class="card-body bg-warning" style="font-size: 1rem;">
    
      <p class="card-text text-center">Urban space is a precious commodity and public transport utilises it more efficiently than a car dominant society, allowing cities to be built more compactly than if they were dependent on automobile transport.[58] If public transport planning is at the core of urban planning, it will also force cities to be built more compactly to create efficient feeds into the stations and stops of transport.[59][4] This will at the same time allow the creation of centers around the hubs, serving passengers' daily commercial needs and public services. This approach significantly reduces urban sprawl. Public land planning for public transportation can be difficult but it is the State and Regional organizations that are responsible to planning and improving public transportation roads and routes. With public land prices booming, there must be a plan to using the land most efficiently for public transportation in order to create better transportation systems. Inefficient land use and poor planning leads to a decrease in accessibility to jobs, education, and health care.</p>
     
    </div>
    <div class="card-footer text-muted bg-primary">
     
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 order-1 order-md-2">
        <img style="border-radius: 30px;" src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2018/08/25/722353-metrodelhi-071418.jpg" alt="..." class="img-fluid">
   </div>   
    

</div>
</div>

<div class="container-fluid">
    <div class="row">

<div class="col-sm-12 col-md-6 col-lg-4 order-sm-5 order-md-5">
    <img style="border-radius: 30px;" src="https://images.unsplash.com/photo-1561544429-4b348c542f7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="..." class="img-fluid">
</div>   
            
<div class="card text-center col-sm-12 col-md-6 col-lg-8 order-sm-6 order-md-6">
    <div class="card-header display-4"  style="background: linear-gradient(#FF4E50,#F9D423);">
        Social
    </div>
    <div class="card-body bg-warning">
      
      <p class="card-text text-center" style="font-size: 1rem;">An important social role played by public transport is to ensure that all members of society are able to travel, not just those with a driving license and access to an automobile—which include groups such as the young, the old, the poor, those with medical conditions, and people banned from driving. Automobile dependency is a name given by policy makers to places where those without access to a private vehicle do not have access to independent mobility.

          Above that, public transportation opens to its users the possibility of meeting other people, as no concentration is diverted from interacting with fellow-travelers due to any steering activities. Adding to the above-said, public transport becomes a location of inter-social encounters across all boundaries of social, ethnic and other types of affiliation.</p>
     
    </div>
    <div class="card-footer text-muted bg-primary">
     
    </div>
  </div>
    

</div>
</div>  
<div class="container-fluid">
<div class="row">


        
<div class="card text-center col-sm-12 col-md-6 col-lg-8 order-2 order-md-1">
<div class="card-header display-4" style="background: linear-gradient(#FF4E50,#F9D423);">
    Economic
</div>
<div class="card-body bg-warning">
  
  <p class="card-text text-center" style="font-size: 1rem;">In the past, public transport allowed transport at an economy of scale not available through private transport. Nowadays there is considerable debate on the advantages and disadvantages of mass transit. According to the OECD, the advantages of carsharing networks could very well obviate the need for traditional public transport.[63] Advocates of public transport claim that investing in mass transit will ultimately reduce the total transport cost for the public. Time saved can also be significant, as fewer cars can translate to less congestion, and faster speeds for remaining motorists.

      Transit-oriented development can both improve the usefulness and efficiency of the public transit system as well as result in increased business for commercial developments.</p>
 
</div>
<div class="card-footer text-muted bg-primary">
 
</div>
</div>
<div class="col-sm-12 col-md-6 col-lg-4 order-1 order-md-2">
    <img style="border-radius: 30px;" src="https://images.unsplash.com/photo-1565514021421-989bc576e7f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="..." class="img-fluid">
</div>   


</div>
</div>
<% include ./partials/footer %>  
