<!DOCTYPE html>
<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Google Maps Multiple Markers</title> 
  <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
</head> 
<body>
    <a href="/showBus/<%= bus._id %>">Go Back</a>
  <div id="map" style="width: 1000px; height: 1000px;"></div>
</body>

  <script type="text/javascript">
    var locations = [
      ['Dwarka Mor', 28.6192, 77.0323, 1],
      ['NSIT', 28.6102, 77.0379, 2],
      ['DPS Matiala', 28.6047, 77.0464, 3],
      ['Dwarka Sector 2', 28.5991, 77.0694, 5],
      ['Palam Village', 28.5885, 77.0780, 6],
      ['Palam Colony', 28.5901, 77.0888, 7],
      ['Palam Airport', 28.5562, 77.1000, 8],
      ['RK Puram Sector 8', 28.5719, 77.1665, 10],
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: new google.maps.LatLng(28.5885, 77.0780),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>

</html>
