<% include ./partials/header %>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>

<style>
body,html{
  background: linear-gradient(#fceabb,#f8b500);
}
</style>
<div class="notices">
    <marquee>
    
       
        <span><a href="http://it.delhigovt.nic.in/writereaddata/Cir20193411.pdf" style="color:#0055a0">*Issue medical card to retired employees of DTC</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span><a href="http://it.delhigovt.nic.in/writereaddata/Cir20193412.pdf" style="color:#0055a0">*Regarding different Hindi Competitions 2019-2020</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span><a href="http://it.delhigovt.nic.in/writereaddata/Cir20193408.pdf" style="color:#0055a0">*Hindi Tippan Competition</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span><a href="http://it.delhigovt.nic.in/writereaddata/Cir20193409.pdf" style="color:#0055a0">*Link Officer</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span><a href="http://it.delhigovt.nic.in/writereaddata/Cir20193407.58.48_1.pdf" style="color:#0055a0">*Corporation(DTC)  Link Officers</a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    
    </marquee>
    </div>
    <style>
    main {
  display: flex;
  justify-content: center;
  align-items: center;
}
p main .text{
  font-size: 1rem;
}
.text {
  background: url(https://media.giphy.com/media/3o6Ztb45EYezY9x9gQ/giphy.gif);
  background-size: contain;
  background-position: top left;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
}
</style>


    <div class="container-fluid">
       <div class="jumbotron jumbotron-fluid" style="background: linear-gradient(#EF3B36,#FFFFFF)" >
      <div class="container-fluid">
          <main>
              <div class="text container-fluid text-center">
                GO TRANSPORT
                <br>
                <div style="font-size : 0.5em" >Travelling to a better Future....</div>
                
              </div>
             
            </main>
        
      </div>
    </div>
  </div> 
  
    <title>Go Transport</title>
  </head>
  <body>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
        
      <div class = "container-fluid">
          <div class="row">
              <div class="col-sm-none col-md-2 col-lg-2 col-xl-2">
              </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="card quote rounded border border-warning" style="background: linear-gradient(#ffd89b,#19547b);height: 23rem; " >
      <div class="card-body cardedit">
  <blockquote class="blockquote ">
  <br>
  <br>
<p class="d-flex align-self-center">“Bicycles are the most efficient vehicles on the planet, 50 times more efficient than cars, and twice as efficient as walking.”</p>
    <footer class="blockquote-footer" style="color: black">Godo Stoyke
</footer>

  </blockquote>


</div>
</div>
      </div>
      
      <div class="col-sm-12 sm-rounded col-md-4 col-lg-4 col-xl-4">
          <figure class="figure">
              <img class="figure-img img-fluid rounded border border-danger" src="https://engsw.b-cdn.net/wp-content/uploads/2017/05/C_caFWXVoAAcWi1.jpg">
              <h3><figcaption class="figure-caption" style="color: black"  >WWE Superstars Promoting Public Transport</figcaption></h3>
             </figure> 
             </div>
      <div class="col-sm-none col-md-1 col-lg-1 col-xl-1">

      </div>
          </div>
        </div>      
        <br><br>
        <br><br>
        <br><br>
        
        <div class="container-fluid">
        <div class="row">
    
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-around">
   <div class="card" style="width: 18rem; height: 18rem; background: linear-gradient(#fceabb,#f8b500) ">
      <div class="card-body">
        <h5 class="card-title display-5 ">Rate Us</h5>
        <h6 class="card-subtitle  text-muted display-5">Give your valuable feedback!</h6>
        <p class="card-text h5 ">Your feedback helps us improve and helps us in giving you the best quality experience.</p>
        <a href="#" class="card-link h4 ">Give Rating</a>
        <a href="#" class="card-link h4">Leave a review</a>
      </div>
    </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-around">
    <div class="card" style="width: 18rem;height: 18rem; background: linear-gradient(#fceabb,#f8b500) ">
      <div class="card-body">
        <h5 class="card-title display-5">Send an email</h5>
        <h6 class="card-subtitle text-muted display-5">Report Issues!</h6>
        <p class="card-text h5">You can report us the issues you face while using the website and help us improve.</p>
        <a class="card-link h4" href="mailto:gotranspo2k19@gmail.com" data-component="link" data-source="inlineLink" data-type="internalLink" data-ordinal="1">Send an e-mail</a>
        <a href="#" class="card-link h4">Send a message</a>
      </div>
    </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-around">
    <div class="card" style="width: 18rem;height: 18rem;background: linear-gradient(#fceabb,#f8b500) ">
      <div class="card-body">
        <h5 class="card-title display-5">About Us</h5>
        <h6 class="card-subtitle text-muted display-5">Know more!</h6>
        <p class="card-text h5">Get to know our company and know about how to get the oppurtunity of joining us.</p>
        <a href="about" class="card-link h4">About Us</a>
        <a href="#" class="card-link h4">Join Us</a>
      </div>
    </div>
    </div>
    </div>
    </div>
    <br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    

    <div class="d-flex justify-content-start">
      <a id="goTopBtn" href="#"><i class="fas fa-arrow-up"></i></a>
    <br>
    <br>
    
    
    
<% include ./partials/footer %>    