<% include ./partials/header %>
<h1 class="heading">CCD, Janakpuri</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28015.547675762307!2d77.08912853835305!3d28.631456624748772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d04bc17a0fdc3%3A0xf1cdfa44961c8c02!2sCafe%20Coffee%20Day!5e0!3m2!1sen!2sin!4v1586787327567!5m2!1sen!2sin" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<% include ./partials/footer %>

<style>
.heading{
	text-align: center; 
	color: blue;
}
</style>