html
{
	scroll-behavior: smooth;
}
body{
	background-color: #c2dde6;
	margin:0;
	padding: 0;
}
#logoinnavbar{
	height: 50px;
	width: 50px;
}
.navbar-dark .navbar-toggler-icon{
	background-image: url("");
}

.footer{
	text-align: center;
	background-color: #45a1ff;
	padding: 5px;
	color: #fff;
	height: 100px;
	position:relative;
	bottom: 0px;
	width: 100%;
}

#goTopBtn
{
	position: fixed;
	width: 25px;
	height: 50px;
	background-color: #27ae60;
	bottom: 40px;
	right: 95%;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 22px;
}

.nav .join{
	text-align: center;
}

.cards{
	margin-bottom: 25px;
	margin-top: 25px;
	border-radius: 150px;
}

.notices{
	background-color: white;
}

.navcolour{
	background-color: white;
	margin-top: 0px;
}

.navbar-dark{
	border-radius: 150px;
}

.uber{
	width: 100px;
	height: 125px;
	background-color: white;
	margin-bottom: 20px;
}

.facebook,.instagram,.twitter,.linkedin,.youtube{
	padding: 0px;
	width: 40px;
	text-decoration: none;
	color:white;
}

.facebook:hover,.instagram:hover,.twitter:hover,.linkedin:hover,.youtube:hover{
	opacity: 0.7;

}
/* ABout */

.container.about{
    background: #B2BE25  ;
}
.jumbotron{
	/* background: #D98880; */
	background: linear-gradient(#108dc7,#ef8e38);
}


.quote{
	background-color: #F5B7B1;
	font-weight: 700;
	margin-bottom: 20px;
}

.img-fluids{
	height: 400px;
}

.cardedit{
	height: 300px;
}

